/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #F5E6CA;
    color: #3E2C23;
    line-height: 1.6;
}

/* NAVBAR */
.navbar {
    background-color: #3E2C23;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
}

.navbar a:hover {
    color: #D4A373;
}

/* HERO */
.hero {
    background: url('https://images.unsplash.com/photo-1608198093002-ad4e005484ec') no-repeat center/cover;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    margin: 20px 0;
    font-size: 1.2rem;
}

.btn {
    padding: 10px 20px;
    background-color: #8B5E3C;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background-color: #D4A373;
}

/* PRODUCTS */
.section {
    padding: 40px 40px;
    text-align: center;
}

.subsection {
    padding: 40px 40px;
    text-align: center;
}
.subsection h1{
    font-size: 4rem;
    color: #38280d;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin-top: 40px;
}

.product-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.product-card img {
    width: 100%;
    border-radius: 10px;
}

.product-card h3 {
    margin: 15px 0 15px;
}

.product-card p {
    margin: 15px 0 15px;
    margin-bottom: 1em; 
}


/* FORM */
form {
    max-width: 500px;
    margin: 30px auto;
}

form input, form textarea, form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

footer {
    background-color: #3E2C23;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}





